### Import

In [1]:
import pandas as pd
import sqldf
import matplotlib.pyplot as plt
from datetime import datetime
import numpy as np

In [2]:
import nltk
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [3]:
from sklearn.ensemble import RandomForestRegressor

In [4]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [5]:
import seaborn as sns

### Load data

In [11]:
data_SPX = pd.read_fwf('SPX.txt', names=['Year', 'Clos'])

In [12]:
data_SPX.head()

         Year    Clos
0  06/01/1995  460,68
1  13/01/1995  465,97
2  20/01/1995  464,78
3  27/01/1995  470,39
4  03/02/1995  478,64

In [13]:
data_VIX = pd.read_fwf('VIX.txt', names=['Year', 'Clos'])

In [14]:
data_VIX

            Year   Clos
0     06/01/1995  13,13
1     13/01/1995   11,1
2     20/01/1995  12,15
3     27/01/1995  11,25
4     03/02/1995  10,98
...          ...    ...
1287  06/09/2019     15
1288  13/09/2019  13,74
1289  20/09/2019  15,32
1290  27/09/2019  17,22
1291  04/10/2019  17,04

[1292 rows x 2 columns]