In [1]:
import requests # see https://fr.python-requests.org/en/latest/
from requests.auth import HTTPBasicAuth
import json # see https://docs.python.org/fr/3/library/json.html
import numpy as np
import pandas as pd

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import math as math
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM, GRU
from keras.layers import Dropout
from keras.layers import *
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from keras.callbacks import EarlyStopping
from sklearn.metrics import r2_score
from sklearn.ensemble import AdaBoostRegressor, RandomForestRegressor, GradientBoostingRegressor
from joblib import parallel_backend

from time import time
from tensorflow.keras.callbacks import TensorBoard
import warnings
warnings.filterwarnings('ignore')

In [46]:
from sklearn.linear_model import LinearRegression

### get data

In [3]:
# Your api key
api_key = "1767f88c-6e71-4d1d-81e6-f6324c83b1e3"

# ESGF server url (Switch to prod for real evaluation)
server_url = 'https://esgf-server-staging.herokuapp.com'

# Service name (see https://esgf-server-staging.herokuapp.com/docs)
service_name = 'get_inference_data'

# Service parameters.
params = f"?api_key={api_key}"

# Request header.
headers = {
       'Accept': 'application/json',
       'Authorization' : f"Bearer {api_key}"
}

# Server response. You receive a sample ID (id) that you must send back when you submit your prediction for it !
# Note you cannot send a prediction twice for a same sample id.
response = requests.get(f"{server_url}/{service_name}{params}", headers=headers)

# Logs.
print(response.text)

# Assert valid answer (see https://developer.mozilla.org/fr/docs/Web/HTTP/Status/200)
assert response.status_code == 200

{"id":"63agFJFWlXSrS5lQ","x":"{\"wconfid\":{\"0\":1,\"1\":1,\"2\":1,\"3\":1,\"4\":1,\"5\":1,\"6\":1,\"7\":1,\"8\":1,\"9\":1,\"10\":1,\"11\":1,\"12\":1,\"13\":1,\"14\":1,\"15\":1,\"16\":1,\"17\":1,\"18\":1,\"19\":1,\"20\":1,\"21\":1,\"22\":1,\"23\":1,\"24\":1,\"25\":1,\"26\":1,\"27\":1,\"28\":1,\"29\":1,\"30\":1,\"31\":1},\"pctid\":{\"0\":90,\"1\":90,\"2\":90,\"3\":90,\"4\":90,\"5\":90,\"6\":90,\"7\":90,\"8\":90,\"9\":90,\"10\":90,\"11\":90,\"12\":90,\"13\":90,\"14\":90,\"15\":90,\"16\":90,\"17\":90,\"18\":90,\"19\":90,\"20\":90,\"21\":90,\"22\":90,\"23\":90,\"24\":90,\"25\":90,\"26\":90,\"27\":90,\"28\":90,\"29\":90,\"30\":90,\"31\":90},\"x\":{\"0\":-3.387,\"1\":-0.453,\"2\":0.121,\"3\":2.387,\"4\":0.367,\"5\":2.891,\"6\":0.148,\"7\":-2.965,\"8\":-0.457,\"9\":5.008,\"10\":2.289,\"11\":1.414,\"12\":0.316,\"13\":0.871,\"14\":-1.613,\"15\":0.477,\"16\":2.762,\"17\":-0.637,\"18\":1.395,\"19\":0.406,\"20\":2.312,\"21\":1.051,\"22\":3.055,\"23\":1.516,\"24\":2.441,\"25\":-1.359,\"26\":-3.016,\"27\":3.82,\"28\":0.035,\"29\":1.996,\"30\":0.043,\"31\":1.703},\"y\":{\"0\":-1.602,\"1\":2.863,\"2\":3.316,\"3\":0.988,\"4\":0.285,\"5\":0.266,\"6\":-0.785,\"7\":-1.184,\"8\":-1.641,\"9\":3.785,\"10\":0.613,\"11\":-0.227,\"12\":1.223,\"13\":1.035,\"14\":1.668,\"15\":-0.594,\"16\":-2.344,\"17\":3.664,\"18\":-0.535,\"19\":-0.125,\"20\":-0.285,\"21\":-0.168,\"22\":-0.156,\"23\":-3.645,\"24\":3.098,\"25\":-0.648,\"26\":-0.582,\"27\":-2.238,\"28\":0.246,\"29\":-0.469,\"30\":-3.895,\"31\":0.73},\"z\":{\"0\":-0.168,\"1\":-1.711,\"2\":-0.426,\"3\":0.41,\"4\":1.477,\"5\":-2.531,\"6\":-2.219,\"7\":0.543,\"8\":0.359,\"9\":-0.324,\"10\":-0.609,\"11\":1.375,\"12\":0.023,\"13\":-1.988,\"14\":0.039,\"15\":0.832,\"16\":1.184,\"17\":1.172,\"18\":1.156,\"19\":-0.68,\"20\":0.738,\"21\":0.676,\"22\":-1.676,\"23\":-0.613,\"24\":3.312,\"25\":1.207,\"26\":-2.953,\"27\":-2.219,\"28\":2.402,\"29\":1.453,\"30\":0.488,\"31\":1.844}}","info":"5 samples (495 remaining)."}

In [4]:
# Server answer as json. Dictionary with keys 'id' and 'x'
json_answer = response.json()

# Example id
example_id = json_answer['id']

# Parse str answer as json object
json_answer = json.loads(json_answer['x'])

# Frame answer
pd_sample = pd.DataFrame(json_answer)

# Logs. You should have (32,5).
print("Sample ID='{}' has shape {}".format(example_id, pd_sample.shape))

Sample ID='63agFJFWlXSrS5lQ' has shape (32, 5)

In [5]:
pd_sample.head()

   wconfid  pctid      x      y      z
0        1     90 -3.387 -1.602 -0.168
1        1     90 -0.453  2.863 -1.711
2        1     90  0.121  3.316 -0.426
3        1     90  2.387  0.988  0.410
4        1     90  0.367  0.285  1.477

## get train data

In [6]:
df = pd.read_csv('TRAIN.csv')

In [8]:
df

        wconfid  pctid      x      y      z
0             1     20  1.004  0.090 -0.125
1             1     20  1.004 -0.043 -0.125
2             1     20  0.969  0.090 -0.121
3             1     20  0.973 -0.012 -0.137
4             1     20  1.000 -0.016 -0.121
...         ...    ...    ...    ...    ...
127495        3    100  0.977  0.145 -0.258
127496        3    100  0.734 -0.027  0.160
127497        3    100  1.047 -0.059 -0.289
127498        3    100  1.023  0.172 -0.145
127499        3    100  1.195 -0.152 -0.121

[127500 rows x 5 columns]

In [25]:
X = df.iloc[:,:1]

In [35]:
Y = df1 = df.iloc[:,-3:]

### Split dataset

In [42]:
sc = MinMaxScaler(feature_range=(0,1))
X = sc.fit_transform(X)
Y = sc.fit_transform(Y)

In [43]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [45]:
x_train

array([[1.],
       [0.],
       [1.],
       ...,
       [1.],
       [1.],
       [0.]])

## Model

In [47]:
model = LinearRegression()

In [48]:
model.fit(x_train, y_train)

LinearRegression()

---

### Predict

In [49]:
Y_pred = model.predict(x_test)

In [50]:
Y_pred

array([[0.56237866, 0.50043052, 0.48093627],
       [0.56237866, 0.50043052, 0.48093627],
       [0.56194549, 0.50078056, 0.48106174],
       ...,
       [0.56237866, 0.50043052, 0.48093627],
       [0.56281183, 0.50008048, 0.4808108 ],
       [0.56194549, 0.50078056, 0.48106174]])

In [51]:
y_test

array([[0.49131033, 0.75993998, 0.6339831 ],
       [0.56045261, 0.50475119, 0.45160211],
       [0.56532883, 0.50037509, 0.48172007],
       ...,
       [0.56407852, 0.48549637, 0.48431356],
       [0.55726432, 0.49206052, 0.46205973],
       [0.56289072, 0.49618655, 0.48330963]])

<H3 style="color: blue"> With API</H3>

In [53]:
example_id

'63agFJFWlXSrS5lQ'

In [58]:
# Example URL to submit your prediction for a given example id
https://esgf-server-staging.herokuapp.com/predict?api_key=api_key&example_id=example_id&prediction=1.0854,1.4223,100

# Your receive an observation from timestep 0 to 31, you make a prediction for the x,y,z values at time 32 !

SyntaxError: invalid syntax (<ipython-input-58-8878f19f56c3>, line 2)